{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <!--Subscribe-->
    <div class="container py-5">
        <h1>Subscribe</h1>
        <form method="post">
            {% csrf_token %}
            {{ add_subscription_form | crispy }}
            <button class="btn btn-primary" type="submit">Subscribe</button>
        </form>
    </div>
{% endblock %}
