{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <!--Add box-->
    <div class="container py-5">
        <h1>Add box</h1>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ box_form | crispy }}
            <button class="btn btn-primary" type="submit">Add box</button>
        </form>
    </div>
{% endblock %}
