{% extends 'base.html' %}

{% block content %}
    <div class="container py-5">
        {% for box in boxes %}
            <div class="card">
                <div class="card-body">
                    <img src="{{box.image.url}}" alt="box_image" class="card-img-top">
                    <h5 class="card-title">{{box.name}}</h5>
                    <p class="card-text">
                        {{box.description}}
                    </p>
                    <a href="/crudbox/add_subscription/{{box.pk}}" class="btn btn-primary">Subscribe</a>
                </div>
            </div>
            
        {% endfor %}
    </div>
{% endblock %}