{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <!--Register-->
    <div class="container py-5">
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            {{ register_form | crispy }}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p class="text-center">If you already have an account, <a href="/crudbox/login">Log In</a> instead.</p>
    </div>
{% endblock %}
