{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <!--Subscriptions-->
    <div class="container py-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Box</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Period (days)</th>
                </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
                <tr>
                    <td>{{ subscription.box_id.name }}</td>
                    <td>{{ subscription.date_start }}</td>
                    <td>{{ subscription.date_end }}</td>
                    <td>{{ subscription.days_period }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
